body {
  background-color: var(--lightColor);
  font-family: helvetica, sans-serif;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  box-shadow: 0 0 15px var(--grayColor);

  a {
    text-decoration: none;
    color: var(--darkColor);
    cursor: pointer;
    transition: 0.3s linear;
    &:hover {
      // color: var(--grayColor);
      color: royalblue;
    }
  }

  .list {
    margin-left: 0;
    padding-left: 0;
  }
  .content__projects {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    &-list {
      padding-left: 0;
      margin-left: 20px;
      &-element {
        margin-top: 20px;
        text-indent: 0;
      }
    }
  }
  .content-div {
    @include div-position;
  }
  .sidebar-div {
    @include sidebar-div-position;
  }
  .title {
    @include h2;
  }
}

@media screen and (max-width: map-get($breakpoints, large)) {
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: map-get($breakpoints, md-large)) {
  .wrapper {
    flex-direction: column;

    .sidebar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      position: relative;
      padding-right: 10%;
      text-align: center;

      &-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
    .content {
      align-items: center;
      text-align: center;
      &__projects-list {
        margin-left: 0;
        &-element {
          margin-bottom: 20px;
          list-style: none;
        }
      }

      &-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
@media screen and (max-width: map-get($breakpoints, md-large)) {
  body {
    font-size: 150%;
  }
  .sidebar__logo {
    scale: 1.5;
  }
  .pdfBtn {
    font-size: 18px;
  }
  .content__projects-list-element {
    margin-bottom: 80px;
  }
}
@media screen and (max-width: map-get($breakpoints, medium)) {
  .wrapper {
    width: 100%;
    .content-div {
      width: 80%;
      margin: 40 auto;
    }
    .sidebar {
      position: static;
      align-items: center;
    }
  }
}
