.content {
  flex-basis: 66%;
  display: flex;
  flex-direction: column;

  .content__about {
    margin-top: 80px;
    .content__about-name {
      font-size: 40px;
    }
    .content__about-text {
      margin-top: 20px;
      color: var(--grayColor);
      line-height: 125%;
    }
  }
  #showMore1,
  #showMore2 {
    width: fit-content;
    text-decoration: none;
    color: var(--darkColor);
    background-color: var(--lightColor);
    font-size: 12px;
    padding: 10px 20px;
    margin-top: 15px;
    font-weight: 600;
    border: 1px solid var(--grayColor);
    border-radius: 20px;
    transition: 0.5s;
    letter-spacing: 0.5px;
    &:hover {
      background-color: royalblue;
      cursor: pointer;
      color: var(--lightColor);
    }
  }
  .content__projects-list {
    margin-left: 20px;
    color: var(--grayColor);
  }
  .content__projects-list-element {
    text-indent: 10px;
    line-height: 150%;
  }

  .proj-li,
  .cours-li {
    &:nth-child(n + 6) {
      display: none;
    }
  }

  .content__work-exp__aksa-title {
    margin-bottom: 10px;
    .content__work-exp__aksa-link {
      color: var(--darkColor);
    }
  }
  .content__work-exp__aksa-info {
    @include exp-info;
  }

  .content__education {
    margin-bottom: 160px;
    .content__education__school-title {
      margin-bottom: 10px;
      .content__education__school-link {
        color: var(--darkColor);
      }
    }
    .content__education__school-info {
      @include exp-info;
    }
  }
  .data-processing {
    width: 80%;
    margin: 180px auto 20px;
    .rodo {
      color: var(--grayColor);
      font-size: 12px;
      line-height: 120%;
    }
  }
}
