@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Permanent+Marker&family=Source+Sans+Pro:wght@400;600&display=swap");

.sidebar {
  flex-basis: 33%;
  background-color: var(--darkColor);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sidebar__logo {
    font-family: "Permanent Marker", cursive;
    height: 140px;
    width: 140px;
    border-radius: 50%;
    background-color: royalblue;
    color: white;
    position: relative;
    @include sidebar-div-position;
    &-mg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 32px;
    }
  }

  &-div {
    width: 60%;
  }

  .sidebar__contacts-list-element-link {
    color: var(--lightColor);
  }
  @include sidebar-lists;
}
